.bio_wrapper {
  display: flexbox;
  align-items: center;
  justify-content: center;
}

.title {
/* CyclopPanda */

align-items: center;
justify-content: center;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 33px;
/* or 103% */

display: flex;
align-items: flex-end;
text-align: center;
letter-spacing: -0.03em;

background: linear-gradient(90.92deg, #52EFE6 21.37%, #3929F3 79.86%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}

.shortbio {
  width: 580px;
  height: 66px;
  justify-items: center;
  align-items: center;
}